<html>

  <head>
    <style>

      #wrapper {
        margin:auto;
        width: 400px;
        padding: 20px;
      }

      #main_content{
        font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
        text-align: center;
        vertical-align: center;
      }
    </style>
  </head>

  <body>
    <div id="wrapper">
      <%= yield %>
    </div>
  </body>

</html>
