<div id="main_content">
  <h1>Codify your words with a Caesar Cipher!</h1>
  <img src="https://www.geeksforgeeks.org/wp-content/uploads/Caesar-Cipher-3.png">
  <br>
  <br>
  <form action="/secret_text">
    <input type="text" name="text" placeholder="text to codify here" required>
    <input type="number" name="shift" placeholder="shift number" required>
    <input type="submit">
  </form>

  <% if @text %>
    <h4>Your encrypted message is: </h4>

    <h3><%= @secret_text %></h3>
  <% end %>


</div>
